<div class="container">
  <div class="col-md-12">
    <nav>
      <ol class="breadcrumb objeto-preto">
        <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
        <li class="breadcrumb-item active">Listagem</li>
      </ol>
    </nav>
    <div class="row mb-4">
      <div class="col-md">
        <h1 class="h5 border-left pl-2 texto-branco">
          Categoria
        </h1>
      </div>
      <div class="col-md">
        <button routerLink="new" class="btn btn-primary float-right sombra-botao">
          <i class="fas fa-user-plus"></i> Nova Categoria
        </button>
      </div>
    </div>
    <div id="table" class="table-responsive">
      <table class="table table-borderless sombra-form">
        <thead>
          <tr class="bg-master text-light">
            <th>ID</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody class="corpo-form">
          <tr *ngFor="let categoria of categorias">
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.descricao }} </td>
            <td>{{ categoria.status }}</td>
            <td>
              <button  (click)="editar(categoria.id)" class="btn btn-outline-info btn-sm"><i class="far fa-edit"></i></button>
              <button  (click)="pegarCategoria(categoria.id ,categoria.descricao)" data-toggle="modal" data-target="#ModalExclusao" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal fade" id="ModalExclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Categorias</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              Deseja realmente Inativar a Categoria <span style="font-weight: bold;">{{ descricao }}</span> ??
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="inativarCategoria()">Inativar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ng-template #loading>
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>
